<h3 class="d-flex justify-content-center">Employee Details</h3>
<table align="center" class="table table-dark">
  <thead>
    <tr>
      <th>Label</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="details-class">
        Employee ID</td>
      <td class="details-class">
        {{Employee[0].EMPLOYEE_ID}}
      </td>
    </tr>
    <tr>
      <td class="details-class">
        Employee Name
      </td>
      <td class="details-class">
        {{Employee[0].EMPLOYEE_NAME}}
      </td>
    </tr>
    <tr>
      <td class="details-class">
        Employee Task Master ID
      </td>
      <td class="details-class">
        {{Employee[0].TASK_MASTER}}
      </td>
    </tr>
    <tr>
      <td class="details-class">
        Employee Email
      </td>
      <td>
        {{Employee[0].EMPLOYEE_EMAIL}}
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>

 