<div class="container">
    <h3 class="d-flex justify-content-center">BS-Test-Application</h3>
    <h5 class="d-flex justify-content-center">Task Management Portal</h5>
    <nav class="navbar navbar-expand-sm bg-ligh navbar-dark">
        <ul class="navbar-nav">
            <li class="new-item">
                <button routerLink="TaskManager" 
                class="m-1 btn btn-light btn-outline-primary" Button>Show Managers</button>
            </li>
        </ul>
    </nav>
<router-outlet></router-outlet>
</div>